#language-picker-container {
    display: flex;
    background-color: #FFF;
    padding: 0;
    vertical-align: top;
    position: absolute;
    left: 2rem;
}

#language-picker-container>span {
    margin-top: 3px;
}

#language-picker-container>span,
#language-picker-container>span>img {
    width: 10px;
    height: 10px;
}

#language-picker {
    display: inline-block;
    overflow: hidden;
    transition: height .3s ease;
    height: 20px;
    transition: all .3s ease;
    font-size: 15px;
    padding-right: 3px;
}

#language-picker.hover {
    height: 60px;
}

#language-picker>li {
    display: block;
    border-top: 1px solid #EEE;
    height: 20px;
    width: auto;
}

#language-picker>li:first-child {
    margin-bottom: 4px;
    border: none;
}