@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/karla/Karla-Bold.ttf') format('ttf');
}
/**
* user-agent overrides
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-weight: 100;
}

:focus {
    outline: none;
}

i {
    font-style: inherit;
}

input:focus {
    outline: none;
}

html,
body,
#gradient-canvas-body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

html,
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    touch-action: none;
}

#gradient-canvas-me {
    height: 100%;
    width: 100%;
}

#gradient-canvas-body,
#gradient-canvas-me {
    position: absolute;
    z-index: -1;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

a:-webkit-any-link {
    text-decoration: none;
}

/**
* text
*/

.text {
    display: flex;
    align-items: center;
    text-align: center;
}

.italic {
    font-style: italic;
}

.bold,
.bold>* {
    font-weight: 400;
}

.text>* {
    padding: 0 0 4px 4px;
    font-size: inherit;
    vertical-align: middle;
    line-height: 1;
}

#catchPhrase {
    line-height: 1.5;
    max-width: 80%;
}

/**
* icons
*/

.icon-rounded {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.icon>img {
    width: 20px;
    height: 20px;
}

#me {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#me>img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#social-medias img {
    width: 25px;
    height: 25px;
}

/**
* card
*/

#scene {
    perspective: 600px;
    animation: bounce 1s;
    transform-style: preserve-3d;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#card {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

/*
* Issue: Can't use CSS proprty backface-visibility, all text is displayed once the rotation's animation is done
* Solution: hide non active card's face using the CSS class hidden
*/
.card-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 4px;
    background-color: white;
    /* backface-visibility: hidden; */
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.hidden {
    visibility: hidden;
    transition: visibility 0ms linear 250ms;
}

.shown {
    visibility: visible;
    transition: visibility 0ms linear 250ms;
}

#card-back {
    transform: rotateY( 180deg);
}

.card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#card-back>.card-row {
    flex-grow: 1;
}

#card-back>#search-row {
    flex-grow: 2;
}

#card.is-flipped {
    transform: rotateY(180deg);
}

@media (max-width: 480px) {
    #scene {
        width: 80vw;
        height: 400px;
    }
}

@media (min-width: 481px) {
    #scene {
        width: 400px;
        height: 300px;
    }
}

@keyframes bounce {
    0% {
        transform: scale(0);
        opacity: 0
    }
    50% {
        transform: scale(1.0);
        opacity: 1.0;
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/*
* Search box
*/ 
.col {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-box {
    width: 100%;
    height: calc(100% - 4px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#search-row {
    height: 50%;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}


.search-input-container {
    margin-top: 6px;
    padding: 0 6px;
    position: relative;
}

#search-input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 5px 25px 6px 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    outline: 0;
}

#search-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
    height: 100%;
}

#search-items>* {
    display: flex;
    align-items: start;
    margin: 13px;
    font-size: 20px;
    max-height: 20px;
}

